---
layout: minimal
title: "# Posts"
permalink: /posts/index.html
description: "All posts"
---
 
{% include head.html %}
{% include svg-icons.html %} 
{% include header-post.html %}
{% include tree-posts.html %}
{% include scripts.html %}

<!-- 
<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        <div class="page_posts">
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include tree-posts.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
-->