<div class="icons-home">
        <a aria-label="Send email" title="Send me an e-mail" href="mailto:{{site.email}}">
            <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
        </a>

        <a aria-label="My Skype" title="Add me on Skype" target="_blank" href="https://join.skype.com/invite/{{site.skype}}">
            <svg class="icon icon-skype"><use xlink:href="#icon-skype"></use></svg>
        </a>

        <a aria-label="My Discord" title="Find me on discord" target="_blank" href="https://matzar.github.io/{{site.discord}}">
            <svg class="icon icon-discord"><use xlink:href="#icon-discord"></use></svg>
        </a>
        
        <!-- <a aria-label="My Discord" title="Find me on discord" target="_blank" href="https://discord.gg/{{site.discord_invite}}">
            <svg class="icon icon-discord"><use xlink:href="#icon-discord"></use></svg>
        </a> -->

        <a aria-label="My Github" title="Show my projects" target="_blank" href="https://github.com/{{site.github_username}}">
            <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
        </a>

        <a aria-label="My LinkedIn" title="Show my linkedin profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>

        <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>

        <a aria-label="Use the RSS to get updated" title="Register for my RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
        </a>
    </div>